[Desktop Entry]
Type=Application
Version=1.0
Name=FRAWO Control
Comment=Oeffnet das gemeinsame FRAWO-Frontend
Exec={{ surface_go_launcher_script }}
Terminal=false
Icon=web-browser
Categories=Network;WebBrowser;
X-GNOME-Autostart-enabled=true
