[Desktop Entry]
Type=Application
Version=1.0
Name=Bildschirmtastatur
Comment=Startet die Touch-Tastatur als Fallback
Exec={{ surface_go_keyboard_launcher_script }}
Terminal=false
Icon=input-keyboard
Categories=Utility;Accessibility;
