[defaults]
inventory = ansible/inventory/hosts.yml
interpreter_python = auto_silent
retry_files_enabled = False
vault_password_file = ansible/.vault_pass
host_key_checking = True
roles_path = ansible/roles

[ssh_connection]
pipelining = True
