[defaults]
inventory = ansible/inventory/hosts.yml
vault_password_file = /home/wolf/.config/homeserver2027/.vault_pass.txt
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
pipelining = True
