[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name={{ item.name }}
Comment={{ item.comment }}
Exec={{ item.exec }}
Icon={{ item.icon | default('web-browser') }}
Categories={{ item.categories | default('Network;WebBrowser;') }}
X-GNOME-Autostart-enabled=false