[Desktop Entry]
Type=Application
Version=1.0
Name=Odoo Admin
Comment=Oeffnet die Odoo-Anmeldung
Exec=/usr/bin/epiphany-browser --new-window {{ surface_go_odoo_admin_url }}
Terminal=false
Icon=applications-office
Categories=Office;Network;WebBrowser;
X-GNOME-Autostart-enabled=false
