[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Paperless Suche
Comment=Dokumentensuche und Archiv
Exec={{ surface_go_launcher_script }} http://paperless.hs27.internal/accounts/login/
Icon=document-viewer
Categories=Office;
Keywords=docs;ocr;search;
