[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Nextcloud (Hauptmenü)
Comment=Nextcloud Hauptmenue
Exec={{ surface_go_launcher_script }} http://cloud.hs27.internal/login
Icon=nextcloud
Categories=Office;
Keywords=cloud;files;
