MYSQL_ROOT_PASSWORD={{ homeserver_vault_nextcloud_db_root_password }}
MYSQL_PASSWORD={{ homeserver_vault_nextcloud_db_password }}
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_HOST=db
REDIS_HOST=redis
NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD={{ homeserver_vault_nextcloud_admin_password }}
PHP_MEMORY_LIMIT={{ nextcloud_php_memory_limit }}
PHP_UPLOAD_LIMIT={{ nextcloud_php_upload_limit }}
