MYSQL_ROOT_PASSWORD={{ homeserver_vault_nextcloud_db_root_password }}
MYSQL_PASSWORD={{ homeserver_vault_nextcloud_db_password }}
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_HOST=db
REDIS_HOST=redis
PHP_MEMORY_LIMIT={{ nextcloud_php_memory_limit }}
PHP_UPLOAD_LIMIT={{ nextcloud_php_upload_limit }}
