version: "3"
services:
  web:
    image: odoo:17
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "{{ compose_http_bind | default('0.0.0.0') }}:{{ compose_http_port }}:8069"
    env_file:
      - stack.env
    volumes:
      - odoo-data:/var/lib/odoo
{% if homeserver_mail_app_smtp_enabled | default(false) %}
      - ./odoo.conf:/etc/odoo/odoo.conf:ro
{% endif %}

  db:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - stack.env
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  odoo-data:
  db-data:
