IMAGE_REF=ghcr.io/wolfeetech/frawo/radio-player-frontend:main-latest
CONTAINER_NAME=radio-player-frontend-prod
HOST_PORT=18081
APP_ENV_FILE=../../../../apps/radio-player-frontend/env/prod.env.example
