POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD={{ homeserver_vault_paperless_db_password }}
PAPERLESS_REDIS=redis://broker:6379
PAPERLESS_DBHOST=db
PAPERLESS_DBPASS={{ homeserver_vault_paperless_db_password }}
PAPERLESS_ADMIN_USER={{ paperless_admin_user }}
PAPERLESS_ADMIN_PASSWORD={{ homeserver_vault_paperless_admin_password }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}
PAPERLESS_OCR_LANGUAGES={{ paperless_ocr_language }}
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
{% if homeserver_mail_app_smtp_enabled | default(false) %}
PAPERLESS_EMAIL_HOST={{ homeserver_mail_smtp_host }}
PAPERLESS_EMAIL_PORT={{ homeserver_mail_smtp_port }}
PAPERLESS_EMAIL_HOST_USER={{ homeserver_mail_smtp_auth_username }}
PAPERLESS_EMAIL_HOST_PASSWORD={{ homeserver_vault_mail_smtp_password }}
PAPERLESS_EMAIL_USE_TLS={{ 1 if homeserver_mail_smtp_secure == 'tls' else 0 }}
PAPERLESS_EMAIL_USE_SSL={{ 1 if homeserver_mail_smtp_secure == 'ssl' else 0 }}
PAPERLESS_EMAIL_FROM={{ homeserver_mail_sender_email }}
{% endif %}
