# FraWo SSH Config - updated 2026-04-20
# Canonical Upstream: https://github.com/Wolfeetech/FraWo

# CT 100 Toolbox
Host toolbox
  HostName 100.82.26.53
  User root

# Proxmox Anker host
Host anker-pve proxmox-anker pve-anker
  HostName 100.69.179.87
  User root
  IdentityFile C:\Users\StudioPC\.ssh\pve_ed25519

# Stockenweiler Proxmox
Host stockenweiler-pve stockenweiler pve-stock
  HostName 100.91.20.116
  User root
  IdentityFile C:\Users\StudioPC\.ssh\pve_ed25519

# Radio node
Host radio-node
  HostName 100.64.23.77
  User wolf

Host *
  IdentityFile ~/.ssh/hs27_ops_ed25519
  IdentitiesOnly yes
  PreferredAuthentications publickey
  StrictHostKeyChecking accept-new
  ConnectTimeout 10
