POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD={{ homeserver_vault_paperless_db_password }}
PAPERLESS_REDIS=redis://broker:6379
PAPERLESS_DBHOST=db
PAPERLESS_DBPASS={{ homeserver_vault_paperless_db_password }}
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}
PAPERLESS_OCR_LANGUAGES={{ paperless_ocr_language }}
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
